################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

libevent/
msdisk_gui/
out/
.vs/
garb/
src/Com/*.o
src/Com/*.so
src/msdisk_gui/*.o
src/msdisk_gui/*.so
